<div class="container">
  <div class="col-sm-6">
    <img src="/images/cat.jpg" />
  </div>
  <div class="col-sm-6">
    <h1>OH NO!!! something went wrong...or the page is unavailable.</h1>
    <p>
      <a href="/">GO HOME</a>
    </p>
  </div>
</div>
